.container {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	background-color: #ebe9e6;
}

.pageWrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1px;
	height: 90vh;
	aspect-ratio: 297 / 210;
}

.pageLeft,
.pageRight {
	box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

.arrowWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	color: #a09696;
	cursor: pointer;
}

.arrowWrapper:hover {
	color: #645a69;
}